<!DOCTYPE html>
<html>
  <head>
      <meta charset="UTF-8" />
      <title>欢迎登录!</title>
      <script src="/static/react/react.min.js"></script>
      <script src="/static/react/react-dom.min.js"></script>
      <script src="/static/react/browser.min.js"></script>
      <script src="/static/antd/dist/antd.js"></script>
      <link href="/static/antd/dist/antd.css" rel="stylesheet"/>
      <link href="/static/css/login.css" rel="stylesheet"/>
      <script src="/static/js/pagetools/jquery-1.11.3.min.js"></script>
  </head>
  <body>
    <div id="loginBox"></div>
    <script type="text/babel" src="/static/components/Login.js"> </script>
  </body>
</html>
